1 ICON "app_icon_special.ico"
IDI_ICON1 ICON "app_icon_special.ico"

103 RCDATA "bin\\send_diagnostic_feedback.ps1"
104 RCDATA "bin\\upload_cloud_file.ps1"
105 RCDATA "bin\\get_cloud_account.ps1"
106 RCDATA "bin\\wiresock.zip"
107 RCDATA "bin\\protonvpn-wg-confgen.zip"
108 RCDATA "themes_catalog.json"
109 RCDATA "bin\\repkg\\RePKG.exe"
110 RCDATA "bin\\repkg\\LICENSE.txt"
111 RCDATA "bin\\repkg\\THIRD-PARTY-NOTICES.txt"
112 RCDATA "wallpaper_engine_renderer.html"

1 VERSIONINFO
FILEVERSION 10,1,0,0
PRODUCTVERSION 10,1,0,0
FILEFLAGSMASK 0x3fL
FILEFLAGS 0x0L
FILEOS 0x40004L
FILETYPE 0x1L
FILESUBTYPE 0x0L
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "041604b0"
        BEGIN
            VALUE "CompanyName", "Discord Unlock"
            VALUE "FileDescription", "Discord Unlock 10.2 Special Edition"
            VALUE "FileVersion", "10.2.0.0"
            VALUE "InternalName", "DiscordUnlock_Special"
            VALUE "LegalCopyright", "Copyright (C) 2026"
            VALUE "OriginalFilename", "DiscordUnlock_Special.exe"
            VALUE "ProductName", "Discord Unlock 10.2 Special Edition"
            VALUE "ProductVersion", "10.2.0.0"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x416, 1200
    END
END











